In [1]:
import pandas as pd

In [2]:
sharks = pd.read_csv("../input/attacks.csv", engine="python")

In [3]:
# show first 5 rows, explore
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [4]:
# drop unuseful columns: case number = date, year unuseful, name unuseful (anonimous), rest columns not of interest
unuseful_cols = ["Case Number", "Year", "Name"] + sharks.loc[:, "pdf":"Unnamed: 23"].columns.to_list()
sharks.drop(columns=unuseful_cols, inplace=True)

In [5]:
# rename cols
sharks.rename(columns={"Fatal (Y/N)": "Fatal", "Investigator or Source": "Source"}, inplace=True)

In [6]:
# 25723 entries but a lot of null entries (look at non-null count)
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6302 non-null   object
 1   Type      6298 non-null   object
 2   Country   6252 non-null   object
 3   Area      5847 non-null   object
 4   Location  5762 non-null   object
 5   Activity  5758 non-null   object
 6   Sex       5737 non-null   object
 7   Age       3471 non-null   object
 8   Injury    6274 non-null   object
 9   Fatal     5763 non-null   object
 10  Time      2948 non-null   object
 11  Species   3464 non-null   object
 12  Source    6285 non-null   object
dtypes: object(13)
memory usage: 2.6+ MB

In [7]:
# keep entries with at least 7 non-null values 
sharks.dropna(thresh=7, inplace=True)
print(sharks.shape[0]) # no of rows after clean

6284

In [8]:
sharks.head()

,Date,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal,Time,Species,Source
0,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF"
1,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF"
4,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper

In [ ]:
# regex clean, set DateTimeIndex??

In [9]:
#sharks.to_csv("../output/sharks_clean.csv")

AttributeError: module 'pandas' has no attribute 'expor'