In [1]:
import pandas as pd
from src.myfuncs import infer_season

In [2]:
sharks = pd.read_csv("../output/sharks_clean.csv")
sharks.index = pd.to_datetime(sharks["Date"])
sharks.drop(columns="Date", inplace=True)
sharks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5156 entries, 1703-03-26 to 2018-06-25
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Country   5149 non-null   object
 1   Area      4932 non-null   object
 2   Activity  4924 non-null   object
 3   Injury    5155 non-null   object
 4   Fatal     4807 non-null   object
 5   Species   1838 non-null   object
dtypes: object(6)
memory usage: 282.0+ KB

In [3]:
sharks["Season"] = infer_season(sharks.index)
sharks.head()

,Country,Area,Activity,Injury,Fatal,Species,Season
Date,,,,,,,
1703-03-26,Barbados,Southwest Coast,Swimming,"Hand and foot severely bitten, surgically ampu...",N,NaN,Spring
1738-04-06,Italy,Sicily,Swimming,FATAL,Y,NaN,Spring
1751-07-27,Usa,Massachusetts,Swimming,FATAL,Y,NaN,Summer
1753-10-27,Jamaica,NaN,Fell overboard,FATAL,Y,NaN,Autumn
1771-07-12,Usa,NaN,Fishing,FATAL,Y,NaN,Summer

In [4]:
non_fatal = sharks[(sharks["Fatal"] == "N") & (sharks["Season"] == "Autumn")]
non_fatal.groupby(["Country", "Activity"])["Season"].count().sort_values()

Country         Activity
Atlantic Ocean  The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125.       1
South Africa    Thrashing the water / imitating the shark victim from "Jaws"                               1
                Swimming with board                                                                        1
                Surf-skiing                                                                                1
                Surf fishing                                                                               1
                                                                                                        ...
Usa             Fishing                                                                                   21
                Wading                                                                                    22
Australia       Surfing                                                                                   43
Usa             Swimming                                                                                  45
                Surfing                                                                                  223
Name: Season, Length: 358, dtype: int64

In [5]:
sharks = sharks["1901":"2000"]
hypothesis = sharks[(sharks["Fatal"] == "N") & (sharks["Activity"] == "Spearfishing") & (sharks["Season"] == "Winter")].groupby("Country")["Season"].count()
hypothesis.name = "Total"
hypothesis = hypothesis.sort_values(ascending=False).reset_index().set_index("Country")
hypothesis.head()

              Total
Country
Australia        19
South Africa     12
New Zealand       3
Fiji              2
Usa               1